@font-face {
  font-family: 'Playfair';
  src: url(../fonts/PlayfairDisplay-Black.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset CSS de pe GOOGLE copiat codul*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair', serif;
  color: #2b2b2b;
  /* font-size: 22px;
  font-weight: 100;
  text-align: left; */
}
/* bate in Watches for entrepreneurs */
/* declaratia de body din fonts am mutat-o sub codul de reset*/
/* am adaugat color */

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

/* header */
.header-top {
  background: url('./../images/component\ \(17\).png') center center no-repeat
    padding-box;
  background-size: cover;
  color: #fff;
  position: relative;
  height: 500px;
  width: 1920px;
  left: 0px;
  padding-left: 8px;
}

.header-top-inner {
  padding-top: 16px;
  padding-left: 400px;
  padding-right: 400px;
}

.header-connect {
  float: left;
}
/* youtube facebook insta */

.header-connect li {
  display: inline-block;
  margin: 10px;
}

/* .header-connect li:first-child i[class*='fa-'] {
color: #fff;
  font-size: 24px;
}

.header-connect li:nth-child(2) {
  border-left: 1px solid #707070;
  padding-left: 16px;
  margin-left: 16px;
} */
/* fist child=youtube */
/* fa- inseamna orice iconita font awesome */

.header-controls {
  float: right;
  color: #2b2b2b;
}
/* iconite cont favorite shop */

.header-controls ul {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px;
}

.header-controls input {
  border: 0;
  padding: 4px;
}

.header-controls form {
  border: 1px solid grey;
  padding: 4px;
}

.header-controls .user-controls a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-controls .cart-controls {
  position: relative;
}

.header-controls .cart-controls i[class*='fa-'] {
  font-size: 24px;
  display: inline-block;
}

.header-controls .user-controls .qty {
  min-width: 21px;
  height: 21px;
  /* background-color: #2B2B2B; */
  color: fff;
  font-weight: 100;
  font-size: 14px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  position: absolute;
  top: -12px;
  right: -12px;
}
/* bate in cate prod sunt in cart =3 aici */

.header-controls .cart-controls .qty {
  min-width: 21px;
  height: 21px;
  /* background-color: #2B2B2B; */
  color: fff;
  font-weight: 100;
  font-size: 14px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  position: absolute;
  top: -12px;
  right: -12px;
}
/* min-width: 21px; inseamna sa nu fie mai mic de 21px */

.header-bottom {
  width: 100%;
  background: #2b2b2b 0% 0% no-repeat padding-box;
  background-size: cover;
  padding: 16px 0;
}

.nav-primary {
  font: normal normal normal 19px/22px Playfair Display;
  letter-spacing: 0.28px;
  color: #e8e8e8;
  width: 1290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*textul NEW ARRIVALS BRANDS MEN"S WOMEN"S...: */

nav-primary a {
  padding: 8px 18px;
  margin: 0 4px;
  font-size: 20px;
  font-weight: 300;
}

@keyframes load {
  0% {
    color: grey;
  }

  100% {
    color: whitesmoke;
  }
}

.loader {
  text-transform: uppercase;
  font-weight: bold;
  animation: load 1.2s ease-in-out infinite alternate;
}

/* .nav-primary a:hover {
  background-color: #fff;
  color: #2b2b2b;
  border-radius: 35px;
} */
/* am scos hoverul pt ca am pus animatii avansate si dupa era prea mult */

/* end-header*/

/* footer */
.footer {
  background: #e8e8e8 0% 0% no-repeat padding-box;
  padding: 50px;
}

.footer-inner {
  color: #2b2b2b;
  text-align: left;
  font: normal normal normal 22px/39px Playfair Display;
  letter-spacing: 0.79px;
  text-transform: lowercase;
  width: 1290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

.footer-nav ul {
  display: inline-block;
  margin-right: 32px;
  vertical-align: top;
}


.footer-nav ul li {
  margin-bottom: 6px;
}

.footer-contact {
  display: inline-block;
  margin-left: 24px;
  text-transform: none;
}

.footer-contact h1 {
  font-size: 16px;
    margin-bottom: 8px;
}

.footer-contact h1 span {
  font-weight: 500;
}

.footer-contact p {
  line-height: 18px;
}

.footer-contact p a:nth-of-type(2) {
  color: #2B2B2B;
  display: block;
}

.foooter-connect {
  font-size: 14px;
  color: #626262;
  text-align: center;
}

.foooter-connect p {
  margin-bottom: 8px;
}

/* end-footer */

/* homepage */
.content-main > section {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  margin-bottom: 16px;
  text-align: center;
}

.content-main > section > header {
  font-size: 35px;
  color: #2b2b2b;
}
/* New stuff, Most loved, MEN'S, Women's */

/* New stuff
.content-main > section > header > h1 {
  margin-bottom: 16px;
}

.content-main > section > header > h1 span {
  font-weight: 500;
}*/

.home-catalog-preview > header {
  margin-top: 25px;
  margin-bottom: 25px;
}

.product-tiles {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin-bottom: 50px;
  margin-top: 50px;
}
/* cele 16 poze+titlu si pret */

.product-tile {
  width: 27.34375%;
  /* cum am ajuns la numar 350/1280*100 */
}

.product-tile-header ~ .product-tile-image {
  /* width: 27.34375%; */
  position: relative;
}

.product-tile-header ~ .product-tile-image ~ img {
  width: 100%;
}

.product-tile-header .product-tile-badge i[class*='fa-'] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 500;
  top: 20px;
  right: 20px;
  /* position: absolute; */
  /* cu absolute fuge in coltul din dreapta sus a ecranului */
  /* cu display flex am reusit sa o mut in dreapta dar nu o pot pune pe imagine */
}
/* iconita cu inimioara */

.product-tile .product-tile-title {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.product-tile .product-tile-title span:first-child {
  color: #000;
  font-weight: 500;
}

.product-tile .product-tile-title span:nth-child(2) {
  font-weight: 500;
}

.product-tile .product-tile-subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.product-tile .product-tile-pricing {
  text-align: center;
  margin: 16px 0;
  font-size: 18px;
  font-weight: 300;
}

.product-tile .product-tile-controls {
  text-align: center;
}

.product-tile-a2c {
  margin: 0 auto; /*centrare in pag */
  display: flexbox;
  justify-content: center;
  text-align: center;
  /* cele de mai sus nu au efect */

  border-radius: 32px;
  font: normal normal normal 22px/22px Roboto;
  letter-spacing: 0.88px;
  color: #2b2b2b;
  opacity: 1;
  padding: 16px 32px;
  background: none;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.product-tile-a2c:hover {
  color: #fff;
  background-color: grey;
  border-radius: 32px;
}
/* view all  */

.home-content {
  background: transparent url('./../images/component\ \(16\).png') 0% 0%
    no-repeat padding-box;
  font-family: 'Roboto', light;
  top: 1661px;
  left: 282px;
  width: 666px;
  height: 666px;
  padding-left: 800px;
}
/* aici e poza cu Monochrome desk si paragrafele Watches for entrepreuneurs */

.home-content > h2 > span {
  top: 1665px;
  left: 1082px;
  width: 556px;
  height: 59px;
  text-align: right;
  font: normal normal bold 44px/33px Playfair Display;
  letter-spacing: 0.66px;
  color: #2b2b2b;
  opacity: 1;
  margin: -1000px;
}

.home-content .p {
  top: 1764px;
  left: 1087px;
  width: 551px;
  height: 242px;
  text-align: left;
  font: normal normal 300 22px/43px Roboto;
  letter-spacing: 0.33px;
  color: #2b2b2b;
  opacity: 1;
  /*  display: flex;
  justify-content: flex-end;
  align-items: center; */
}

.home-cta a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 236px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 50px;
  text-align: right;
}

.home-cta a span:nth-of-type(1) {
  margin-bottom: 16px;
}

.home-cta a > span:nth-child(even) {
  font-size: 18px;
  font-weight: 300;
}

.home-cta a > span:nth-child(even) span {
  font-size: 18px;
  font-weight: 500;
}

.home-social ul {
  margin-top: 33px;
  text-align: center;
}

.home-social li {
  display: inline-block;
  margin: 0 5px;
}
/* display: inline-flex; the safe choice daca nu stii sigur daca vrei in line sau block */

.home-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5e5e5e;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 32px;
}

.home-payment ul {
  margin: 43px auto 0 auto;
  width: 340px;
  text-align: center;
}

.home-payment ul li {
  display: inline-block;
  margin: 5px;
}
/* end homepage */
